# Build Artifacts and Binaries
*.apk
*.aab
*.exe
*.msi
*.dll
*.pdb
*.obj
*.iso
*.lnk
*.so
*.dylib
*.rlib
*.rmeta
set/*.exe

# Rust / Tauri Build
target/
Cargo.lock
dist/
**/src-tauri/target/
**/WixTools/

# Gradle and Android Build
.gradle/
**/build/
**/local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Flutter and Dart Build
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Node and NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs & Temporary Files
*.log
*.tmp
*.temp
.system_generated/
.release-notes-*.md

# OS and Editor specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.vscode/
*.swp
*~
